<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Openbanking API - main</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <%=user.name%>[<%=user.email%>] <a href="/logout">로그아웃</a> 
    <h1><a href="/main">Openbanking API</a></h1>

    <h3><%=user.name%>님의 계좌 목록</h3>

    <div id = "account_list">
        <ol>
            <% for(var i=0; i<userInfo.length; i++){ %>
                <li>
                    계좌명 : <%=userInfo[i].account_alias%> <br/>
                    거래은행 : <%=userInfo[i].bank_name%> <br/>
                    계좌번호 : <%=userInfo[i].account_num_masked%> <br/>
                    <a href="/balance_amt?fn=<%=userInfo[i].fintech_use_num%>">상세 조회</a>
                    <a href="/transfer?fn=<%=userInfo[i].fintech_use_num%>">송금</a>
                </li>
            <% } %>
        </ol>
    </div>
</body>
</html>
